## Машинное обучение, ВМК МГУ

## Практическое задание 2

### Общая информация
Дата выдачи: 9 октября 2019

Максимальная оценка: 10 баллов + 1 бонусный балл

Мягкий дедлайн: 23:59MSK 23 октября (за каждый день просрочки снимается 1 балл)

Жесткий дедлайн: 23:59MSK 30 октября.

### О задании

В этом задании вы:
- Познакомитесь с методом решения задачи регрессии на основе метода ближайших соседей.
- Реализуете алгоритм kNN для задачи регрессии.
- Изучите методы работы с категориальными и текстовыми переменными.


### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить работу на указанных в ответном письме условиях.

Задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов (подробнее о плагиате см. на странице курса). Если вы нашли решение какого-то из заданий (или его часть) в открытом источнике, необходимо указать ссылку на этот источник в отдельном блоке в конце вашей работы (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник).

Неэффективная реализация кода может негативно отразиться на оценке.


### Формат сдачи
Для сдачи задания переименуйте получившийся файл *.ipynb в соответствии со следующим форматом: homework-practice-02-Username.ipynb, где Username — ваша фамилия и имя на латинице именно в таком порядке (например, homework-practice-02-ivanov.ipynb).

Далее отправьте этот файл на anytask в соответсвующий раздел.

In [1]:
import numpy as np
import pandas as pd

Все эксперименты в этой лабораторной работе предлагается проводить на данных соревнования New York City Airbnb Open Data: https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data#AB_NYC_2019.csv

В данной задаче предлагается предсказать цену на съем квартиры в зависимости от её параметров.

In [2]:
data = pd.read_csv('./data/AB_NYC_2019.csv')
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
data.shape

(48895, 16)

In [4]:
# число значений у признаков
for col_name in data.columns:
    print(col_name, len(data[col_name].unique()))

id 48895
name 47906
host_id 37457
host_name 11453
neighbourhood_group 5
neighbourhood 221
latitude 19048
longitude 14718
room_type 3
price 674
minimum_nights 109
number_of_reviews 394
last_review 1765
reviews_per_month 938
calculated_host_listings_count 47
availability_365 366

In [5]:
data.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [6]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

Как видите, в данных есть пропуски. Не забудьте обработать их

Заполним пропуски в колонках **name** и **host_name** значением '-1', которое будет сигнализировать о пропуске в колонке.

In [7]:
data.loc[data['name'].isna(), 'name'] = '-1'
data.loc[data['host_name'].isna(), 'host_name'] = '-1'

С колонкой $last\_review$ поступим иначе:
* $last\_review$ - рассмотрим объект $x$ такой, что $x["last\_review"] = nan$ и $x["neighbourhood"] = neigh$. Тогда $x["last\_review"]$ заполняем наиболее встречаемым значением в колонке $last\_review$ среди всех объектов $x_{i}$ тренировочной выборки: $x_{i}["neighbourhood"] = neigh$

In [8]:
%%time
data['last_review'] = data['last_review'].fillna('-1')
# is_last_review_nan = data['last_review'].isna()
# for neigh in data[is_last_review_nan]['neighbourhood']:
#     is_neigh = data['neighbourhood'] == neigh
#     if data[is_neigh].shape[0] == 1:
#         data.loc[is_last_review_nan, 'last_review'] = '-1'
#     else:
#         data.loc[is_neigh & is_last_review_nan, 'last_review'] = data[is_neigh]['last_review'].value_counts().idxmax()

CPU times: user 11.5 ms, sys: 0 ns, total: 11.5 ms
Wall time: 11.1 ms

А для колонки **$reviews\_per\_month$** возьмем не наиболее встречаемое значение, а среднее:

In [9]:
%%time
data['reviews_per_month'] = data['reviews_per_month'].fillna(0)
# is_reviews_per_month_nan = data['reviews_per_month'].isna()
# for neigh in data[is_last_review_nan]['neighbourhood']:
#     is_neigh = data['neighbourhood'] == neigh
#     if data[is_neigh].shape[0] == 1:
#         data.loc[is_reviews_per_month_nan, 'reviews_per_month'] = -1
#     else:
#         data.loc[is_neigh & is_reviews_per_month_nan, 'reviews_per_month'] = data[is_neigh]['reviews_per_month'].mean()

CPU times: user 0 ns, sys: 2.08 ms, total: 2.08 ms
Wall time: 1.34 ms

Разобъем данные на обучение и контроль.

Для тестирования модели без категориальных признаков:

In [10]:
from sklearn.model_selection import train_test_split
X_train_non_cat, X_test_non_cat, y_train_non_cat, y_test_non_cat = train_test_split(data.drop(columns=['price',
                                                                                              'last_review',
                                                                                              'name',
                                                                                              'host_name',
                                                                                              'neighbourhood_group',
                                                                                              'neighbourhood',
                                                                                              'room_type']),
                                                                                    data[['price']],
                                                                                    test_size=0.3, random_state=241)

Для тестирования только категориальных признаков:

In [11]:
from sklearn.model_selection import train_test_split
X_train_cat, X_test_cat, y_train_cat, y_test_cat = train_test_split(data.drop(columns=['price',
                                                                                        'id',
                                                                                                       'host_id',
                                                                                                       'latitude',
                                                                                                       'longitude',
                                                                                                       'minimum_nights',
                                                                                                       'number_of_reviews',
                                                                                                       'reviews_per_month',
                                                                                                       'calculated_host_listings_count',
                                                                                                       'availability_365']),
                                                                                    data[['price']],
                                                                                    test_size=0.3, random_state=241)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns=['price']),
                                                    data[['price']],
                                                    test_size=0.3, random_state=241)

## Часть 1: Алгоритм kNN в задаче регрессии

<b> 1.1 (1.5 балла) </b>
Реализуйте класс `KNNRegressor`, который используя метод k ближайших соседей решает задачу регрессии. Для решение данной задачи, необходимо найти $N_k$ - k соседей, и после использовать значения их целевых переменных для предсказания:
\begin{align}
y = \frac{1}{k}\sum_{n \in N_k}w_n y_n,
\end{align}

где $w_n$ - вес каждого соседа. 

При этом `KNNRegressor` может работать в 2 режимах:
 - $uniform$ - ближайшие соседи учитываются с одинаковыми весами.
 - $distance$ - вес ближайших соседей зависит от расстояния
 
Сигнатуру методов при желании можно менять.

In [73]:
from typing import Union, Callable, Iterable, Optional
from sklearn.neighbors import NearestNeighbors


class KNNRegressor:
    def __init__(self, n_neighbors: int,
                 metric: Union[str, Callable],
                 mode: str = 'uniform',
                test_block_size = 10):
        """
        params:
            n_neighbors: number of neighbors
            metric: metric to use for distance computation
            mode: 'uniform' or 'distance'
            'uniform' - all points in each neighborhood are weighted equally
            'distance' - weight points by the inverse of their distance
            test_block_size: block size for finding neighbors and predict (for saving memory)
        """
        
        self.metric = metric
        self.__nn = None
        if self.metric not in ['overlap', 'flattened_overlap', 'log_overlap']:
            self.__nn = NearestNeighbors(n_neighbors=n_neighbors, metric=self.metric)
        self.__mode = mode
        self.__n_neighbors = n_neighbors
        self.test_block_size = test_block_size

    def fit(self, X: np.array, y: np.array) -> None:
        """
            X: data
            y: labels
        """
        self.y_train = y
        if self.__nn is None:
            self.X_train = X
        else:
            self.__nn.fit(X, y)
        self.eps = 1e-5
        
    def flattened_overlap_df(self, x_df, z_df):
        result = np.zeros(x_df.shape[0], z_df.shape[0])
        for i, x_row in enumerate(x_df):
            result[i, :] = np.apply_along_axis(lambda z: flattened_overlap(x_row, z), axis=1)
        return result
            
        
    def find_kneighbors(self, X, return_distance):
        """
        params:
            * X - objects sample
            * return_distance - bool variable

        return values:
            * If return_distance == True:
                * tuple with two numpy array with size (X.shape[0], k), where:
                  [i, j] elem of first array must be the distance between
                  i-th object and his j-th nearest neighbour
                  [i, j] elem of second array must be the index of j-th nearest neighbour to i-th object
            * If return_distance == False:
                * only second array
        """


        if self.__nn is not None:
            self.distances, \
                self.neigh_idxs = self.__nn.kneighbors(X, n_neighbors=self.__n_neighbors)
        else:
            if self.metric == 'overlap':
                self.distances = overlap(X, self.X_train)
            elif self.metric == 'flattened_overlap':
                self.distances = flattened_overlap_df(X, self.X_train, self.X_train)
            elif self.metric == 'log_overlap':
                self.distances = log_overlap_df(X, self.X_train, X, self.X_train)
            self.neigh_idxs = np.argsort(self.distances,
                                         axis=1)[:, :self.__n_neighbors]
            if return_distance:
                self.distances = self.distances[np.arange(self.distances.shape[0])[:, None],
                                                self.neigh_idxs]
        if return_distance:
            return self.distances, self.neigh_idxs
        return self.neigh_idxs

    def predict(self, X: np.array, n_neighbors: Optional[int] = None) -> np.array:
        """
            X: data
            n_neighbors: number of neighbors
        """
        if n_neighbors is not None:
            n_neighbors = np.minimum(self.__n_neighbors, n_neighbors)
        else:
            n_neighbors = self.__n_neighbors
        if self.test_block_size > X.shape[0]:
            self.test_block_size = X.shape[0]
        preds = np.zeros(X.shape[0])
        split_size = X.shape[0] // self.test_block_size + \
                     int(X.shape[0] % self.test_block_size != 0)
        curr_idx = 0
        for i, split in enumerate(np.array_split(X, split_size)):
            self.distances, self.neigh_idxs = self.find_kneighbors(split,
                                                                   return_distance=True
                                                                  )
            for j, idx in enumerate(self.neigh_idxs):
                if self.__mode == 'distance':
                    weights = 1 / (self.distances[j] + self.eps)
                    pred = np.sum(self.y_train.values[idx].reshape(-1) * weights) / np.sum(weights)
                else:
                    pred = np.sum(self.y_train.values[idx].reshape(-1)) / n_neighbors
                preds[j + curr_idx] = pred
            curr_idx += split.shape[0]
        return preds

In [74]:
def rmse(y_true, y_valid):
    return (np.sum((y_valid - y_true) ** 2) / len(y_true)) ** (1/2)

In [75]:
k_neighbors = 10
knn = KNNRegressor(k_neighbors, metric='euclidean', mode='distance', test_block_size=500)

In [76]:
%%time
knn.fit(X_train_non_cat, y_train_non_cat)
preds = knn.predict(X_test_non_cat, 10)

CPU times: user 515 ms, sys: 114 µs, total: 515 ms
Wall time: 514 ms

In [77]:
rmse(y_test_non_cat.values.reshape(-1), preds)

218.18168656973202

## Часть 2: Категориальные признаки

<b>2.1 (1 балл)</b>
Реализуйте три функции расстояния на категориальных признаках, которые обсуждались на [третьем семинаре](https://github.com/mmp-mmro-team/mmp_mmro_fall_2019/blob/master/lecture-notes/Sem03_knn.pdf). Не забудьте, что KNNRegressor должен уметь работать с этими функциями расстояния. Как вариант, можно реализовать метрики как [user-defined distance](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html).

In [33]:
# import pyximport; pyximport.install() Попытки переписать метрики на Cython оказались безуспешными
# import overlap_cython

In [78]:
def overlap(x, z):
    """
    x, z - pandas dataframes with shape lxd
    """
    x = x.to_numpy(copy=True)
    z = z.to_numpy(copy=True)
    is_equal = x[:, None] != z
    return np.sum(is_equal, axis=2)

def flattened_overlap_check(x, z, df):
    f_x = np.zeros(x.shape[0])
    p2_sum_arr = np.zeros(x.shape[0])
    for i, x_val in enumerate(x):
        f_x[i] = np.sum(df.iloc[:, i] == x_val)
    p_x = f_x / df.shape[0]
    for i, x_val in enumerate(x):
        p2_sum_arr[i] = np.sum(((p_x * (f_x - 1) / (df.shape[0] - 1))) * (p_x <= p_x[i]))
    result = np.sum(x != z) + np.sum((x == z) * p2_sum_arr)
    return result

def flattened_overlap(x, z, df):
    f_x = np.zeros(x.shape[0])
    p2_sum_arr = np.zeros(x.shape[0])
    df = df.to_numpy()
    f_x = np.sum(df == x[None, :], axis=0)
    p_x = f_x / df.shape[0]
    p2_sum_arr = np.sum(p_x * (f_x - 1) / (df.shape[0] - 1) * (p_x <= p_x[:, None]), axis=1)
    result = np.sum(x != z) + np.sum((x == z) * p2_sum_arr)
    return result

def log_overlap(x, z, df_x, df_z):
    result = 0
    f_x = np.sum(df_x == x[None, :], axis=0)
    f_z = np.sum(df_z == z[None, :], axis=0)
    result = np.sum((x != z) * np.log(f_x + 1) * np.log(f_z + 1))
    return result

In [79]:
log_overlap(X_train_cat.iloc[0, :], X_train_cat.iloc[1, :], X_train_cat.iloc[:, :], X_test_cat)

211.2214143021592

In [140]:
k_neighbors = 10
knn = KNNRegressor(k_neighbors, metric='flattened_overlap', mode='uniform', test_block_size=500)

In [141]:
%%time
knn.fit(X_train_cat.iloc[:50, :], y_train_cat.iloc[:50, :])
preds = knn.predict(X_test_cat.iloc[:20, :], 10)

CPU times: user 119 ms, sys: 23.9 ms, total: 143 ms
Wall time: 129 ms

In [142]:
rmse(y_test_non_cat.values.reshape(-1)[:20], preds)

228.2563985959649

In [ ]:
#228.2563985959649 # flattened 
#227.45479221155136 # log_overlap
#222.72230579804977 # overlap

,name,host_name,neighbourhood_group,neighbourhood,room_type
39319,Large bedroom,Sara,Brooklyn,Kensington,Private room
22796,Sun Drenched Gramercy/East Village!,Chelsea,Manhattan,Gramercy,Entire home/apt
26190,Gorgeous single room in Sunnyside near Manhattan,Lidia,Queens,Sunnyside,Private room
8161,Cozy UES Studio,Jennifer,Manhattan,Upper East Side,Entire home/apt
32473,Modern & Cozy Studio In Best East Village Loca...,Kea,Manhattan,East Village,Entire home/apt
35951,"New York - Private room, perfect location",Thirza,Manhattan,Upper West Side,Private room
25954,Lovely Contemporary Home away from Home,Nicole,Queens,Jamaica,Entire home/apt
18513,Nice and comfortable 2/B Apartment,Meng,Brooklyn,Bedford-Stuyvesant,Entire home/apt
47680,New Cozy Studio on the UES with Gym and Pool #...,Keren,Manhattan,East Harlem,Entire home/apt
30397,Cozy BK Bungalow,Mason,Brooklyn,Williamsburg,Private room
17974,Nice room near Times Square BEST LOCATION ❤️,Laetitia,Manhattan,Hell's Kitchen,Private room
11554,UWS/Elevator/CENTRAL/SUBWAYS/PARK,Martha,Manhattan,Upper West Side,Entire home/apt
43397,Sonder | Stock Exchange | Amazing 1BR + Sofa Bed,Sonder (NYC),Manhattan,Financial District,Entire home/apt
20388,Cozy Studio Near Time Square,Jeniffer,Manhattan,Hell's Kitchen,Entire home/apt
34422,HARLEM REBIRTH OF COOL,Maxime C/Armande C,Manhattan,East Harlem,Private room
12891,Designer's Studio with Cats +Yard,Jack,Brooklyn,Fort Greene,Entire home/apt
16475,SUNNY APT Best location In Williamsburg!!!!!,Juan,Brooklyn,Williamsburg,Entire home/apt
14004,Large Renovated Apt. Mins Away From Subway!,Rosa,Manhattan,Morningside Heights,Entire home/apt
19160,#BBS 2-BR Apartment Near Times Square *Specials*,Bluebird,Manhattan,Midtown,Entire home/apt
24003,Brooklyn Hot Spot with Best Manhattan Views,Kelly,Brooklyn,Greenpoint,Entire home/apt
20439,Warm design for a classic Brooklyn townhouse,Daria,Brooklyn,East Flatbush,Shared room
22695,"☆☆Hell's Kitchen, Central Park, Times Square☆☆",Mark,Manhattan,Hell's Kitchen,Private room
28335,Manhattan New York luxurious hotel,Dez,Manhattan,Midtown,Entire home/apt
48220,2 Bedroom Home away from home,Emily,Manhattan,Harlem,Entire home/apt
33428,Sunny Room in Brooklyn 2,Karen,Brooklyn,East Flatbush,Private room
14246,BR in amazing Apt - 10min Manhattan,Mathieu,Brooklyn,Williamsburg,Private room
45829,2 bedroom on Chinatown,Juan,Manhattan,Chinatown,Entire home/apt
14021,"Cozy shared space, heart of Astoria",Jessica And Danny,Queens,Ditmars Steinway,Shared room
39027,Calm bed. perfect for students and travelers.,Imoy,Brooklyn,Bedford-Stuyvesant,Shared room
39903,Huge Williamsburg Loft,Megan,Brooklyn,Williamsburg,Entire home/apt
39924,Gorgeous Room in Lux Apt: Prime Upper East!,James,Manhattan,Upper East Side,Private room
10630,Small cosy room in Lower East Side,Julien,Manhattan,Chinatown,Private room
8744,Midtown Gem - Nestled by Hotel Row,L.M.,Manhattan,Midtown,Entire home/apt
28743,Sunny and Cozy Brooklyn Apartment,Farideh,Brooklyn,Bushwick,Entire home/apt
3604,The best Williamsburg has to offer!,Edward,Brooklyn,Williamsburg,Entire home/apt
13499,Private Room for Rent,Ashley,Manhattan,Washington Heights,Private room
36436,Lugar acogedor y confortable,Sandy,Bronx,Mount Eden,Private room
32850,Cozy & Beautiful Room in Astoria for all seasons,Mars,Queens,Ditmars Steinway,Private room
30754,Blue House on Martense,Jon,Brooklyn,East Flatbush,Entire home/apt
7253,"5 Bedroom, 2 Bath, Steps to Train. FREE PARKING!",Eli,Brooklyn,Crown Heights,Entire home/apt
5124,1 BR Apt steps from Central Park! #10223,Luci,Manhattan,Upper West Side,Entire home/apt
18512,Sunny & inviting BK Room 30mins from Manhattan.,Perin,Brooklyn,Bedford-Stuyvesant,Private room
12287,"Sunny, spacious 1 BR apt in Harlem",Venessa,Manhattan,Harlem,Entire home/apt
2849,CENTRAL PARK/ TIMES SQUARE,Rodrigo,Manhattan,Hell's Kitchen,Entire home/apt
6336,Bright + Cheerful Apt- the Real NYC,Millie,Manhattan,East Harlem,Entire home/apt
14962,PRIVATE GARDEN-LEVEL CITY OASIS!,Eric,Brooklyn,Bedford-Stuyvesant,Entire home/apt
1594,Very Large Loft in Chelsea for Your Stay!!,Alexander,Manhattan,Flatiron District,Entire home/apt
44445,Spacious UES place. Flexible check-in/out. Sub...,Liz,Manhattan,Upper East Side,Entire home/apt
1624,Cozy Private Room in LIC,Sol,Queens,Long Island City,Private room
3989,Private Room in Large Two-floor Apt w/ Backyard,Michael,Manhattan,Chelsea,Private room

In [44]:
# def flattened_overlap_df(x_df, z_df, df):
#         result = np.zeros((x_df.shape[0], z_df.shape[0]))
#         for i, x_row in enumerate(x_df.iterrows()):
#             x_row = np.array(x_row[1])
#             result[i, :] = np.apply_along_axis(lambda z: flattened_overlap(x_row, z, df), axis=1, arr=z_df)
#         return result
    
def flattened_overlap_df(x_df, z_df, df):
        result = np.zeros((x_df.shape[0], z_df.shape[0]))
        for i, x_row in enumerate(x_df.iterrows()):
            x_row = np.array(x_row[1])
            result[i, :] = np.apply_along_axis(lambda z: flattened_overlap(x_row, z, df), axis=1, arr=z_df)
        return result
    
def log_overlap_df(x_df, z_df, full_df_x, full_df_z):
        result = np.zeros((x_df.shape[0], z_df.shape[0]))
        for i, x_row in enumerate(x_df.iterrows()):
            x_row = np.array(x_row[1])
            result[i, :] = np.apply_along_axis(lambda z: log_overlap(x_row, z,
                                                                     full_df_x, full_df_z),
                                               axis=1,
                                               arr=z_df)
        return result

In [49]:
%%time
flattened_overlap_df(X_train_cat.iloc[:50, :], X_test_cat.iloc[:5, :], X_train_cat)

CPU times: user 1.24 s, sys: 0 ns, total: 1.24 s
Wall time: 1.23 s

array([[5.16901099, 6.        , 5.16901099, 5.16901099, 6.        ],
       [5.46859726, 4.66532667, 5.46859726, 5.46859726, 4.66532667],
       [6.        , 6.        , 6.        , 6.        , 6.        ],
       [5.51157593, 3.79431306, 5.51157593, 5.51157593, 4.75128402],
       [5.47008021, 4.66829257, 5.47008021, 5.47008021, 4.66829257],
       [6.        , 5.19832073, 6.        , 6.        , 4.1999624 ],
       [5.28611117, 5.28611117, 5.28611117, 4.28690973, 5.28611117],
       [4.70475486, 4.53598227, 4.70475486, 4.70475486, 5.48831135],
       [5.5107989 , 3.79198197, 5.5107989 , 5.5107989 , 4.74972996],
       [5.1752171 , 6.        , 4.18166162, 5.1752171 , 6.        ],
       [6.        , 5.1983683 , 6.        , 6.        , 5.1983683 ],
       [5.51192958, 3.795374  , 5.51192958, 5.51192958, 3.75363276],
       [5.46888469, 4.66590155, 5.46888469, 5.46888469, 4.66590155],
       [5.47023635, 4.66860485, 5.47023635, 5.47023635, 4.66860485],
       [6.        , 5.19723798, 6.        , 6.        , 5.19723798],
       [4.60961246, 5.44074015, 4.60961246, 4.60961246, 5.44074015],
       [4.62241711, 5.44714248, 3.62891916, 4.62241711, 5.44714248],
       [5.46859672, 4.6653256 , 5.46859672, 5.46859672, 4.6653256 ],
       [5.51133728, 3.7935971 , 5.51133728, 5.51133728, 4.75080672],
       [3.69441118, 4.52513336, 4.69390596, 4.69390596, 5.4828869 ],
       [5.16945097, 6.        , 5.16945097, 5.16945097, 6.        ],
       [6.        , 5.19912166, 6.        , 6.        , 5.19912166],
       [5.46959591, 4.66732398, 5.46959591, 5.46959591, 4.66732398],
       [5.51324912, 3.79933262, 5.51324912, 5.51324912, 4.75463039],
       [5.16889771, 6.        , 5.16889771, 5.16889771, 6.        ],
       [5.17522259, 6.        , 4.18167259, 5.17522259, 6.        ],
       [5.46861437, 4.6653609 , 5.46861437, 5.46861437, 4.6653609 ],
       [6.        , 6.        , 6.        , 6.        , 6.        ],
       [5.17527157, 6.        , 5.17527157, 5.17527157, 6.        ],
       [4.70578749, 4.5370149 , 3.71223348, 4.70578749, 5.48882767],
       [6.        , 5.19796883, 6.        , 6.        , 5.19796883],
       [6.        , 5.1967295 , 6.        , 6.        , 5.1967295 ],
       [5.46959589, 4.66732395, 5.46959589, 5.46959589, 4.66732395],
       [4.61576762, 5.44381773, 4.61576762, 3.61653403, 5.44381773],
       [4.62238584, 5.44712684, 3.62887225, 4.62238584, 5.44712684],
       [6.        , 5.19702101, 6.        , 6.        , 5.19702101],
       [6.        , 5.04223395, 6.        , 6.        , 6.        ],
       [6.        , 6.        , 6.        , 6.        , 6.        ],
       [4.69311521, 4.52434261, 4.69311521, 4.69311521, 5.48249152],
       [4.61140212, 5.44163498, 4.61140212, 4.61140212, 5.44163498],
       [5.47093513, 4.67000242, 5.47093513, 5.47093513, 3.67239065],
       [5.17546861, 6.        , 5.17546861, 4.17623502, 6.        ],
       [5.51323998, 3.7993052 , 5.51323998, 5.51323998, 4.75461211],
       [5.47100213, 4.67013642, 5.47100213, 4.47176856, 4.67013642],
       [5.46905969, 4.66625154, 5.46905969, 5.46905969, 4.66625154],
       [4.62143428, 5.44665106, 4.62143428, 4.62143428, 5.44665106],
       [5.46855457, 4.6652413 , 5.46855457, 5.46855457, 4.6652413 ],
       [5.46996868, 4.66806953, 5.46996868, 5.46996868, 4.66806953],
       [6.        , 6.        , 6.        , 6.        , 6.        ],
       [6.        , 4.1979133 , 6.        , 6.        , 5.19729618]])

In [191]:
%%time
flattened_overlap_df(X_train_cat.iloc[:50, :], X_test_cat.iloc[:5, :], X_train_cat)

CPU times: user 112 ms, sys: 3.97 ms, total: 116 ms
Wall time: 122 ms

array([[5.16901099, 6.        , 5.16901099, 5.16901099, 6.        ],
       [5.46859726, 4.66532667, 5.46859726, 5.46859726, 4.66532667],
       [6.        , 6.        , 6.        , 6.        , 6.        ],
       [5.51157593, 3.79431306, 5.51157593, 5.51157593, 4.75128402],
       [5.47008021, 4.66829257, 5.47008021, 5.47008021, 4.66829257],
       [6.        , 5.19832073, 6.        , 6.        , 4.1999624 ],
       [5.28611117, 5.28611117, 5.28611117, 4.28690973, 5.28611117],
       [4.70475486, 4.53598227, 4.70475486, 4.70475486, 5.48831135],
       [5.5107989 , 3.79198197, 5.5107989 , 5.5107989 , 4.74972996],
       [5.1752171 , 6.        , 4.18166162, 5.1752171 , 6.        ],
       [6.        , 5.1983683 , 6.        , 6.        , 5.1983683 ],
       [5.51192958, 3.795374  , 5.51192958, 5.51192958, 3.75363276],
       [5.46888469, 4.66590155, 5.46888469, 5.46888469, 4.66590155],
       [5.47023635, 4.66860485, 5.47023635, 5.47023635, 4.66860485],
       [6.        , 5.19723798, 6.        , 6.        , 5.19723798],
       [4.60961246, 5.44074015, 4.60961246, 4.60961246, 5.44074015],
       [4.62241711, 5.44714248, 3.62891916, 4.62241711, 5.44714248],
       [5.46859672, 4.6653256 , 5.46859672, 5.46859672, 4.6653256 ],
       [5.51133728, 3.7935971 , 5.51133728, 5.51133728, 4.75080672],
       [3.69441118, 4.52513336, 4.69390596, 4.69390596, 5.4828869 ],
       [5.16945097, 6.        , 5.16945097, 5.16945097, 6.        ],
       [6.        , 5.19912166, 6.        , 6.        , 5.19912166],
       [5.46959591, 4.66732398, 5.46959591, 5.46959591, 4.66732398],
       [5.51324912, 3.79933262, 5.51324912, 5.51324912, 4.75463039],
       [5.16889771, 6.        , 5.16889771, 5.16889771, 6.        ],
       [5.17522259, 6.        , 4.18167259, 5.17522259, 6.        ],
       [5.46861437, 4.6653609 , 5.46861437, 5.46861437, 4.6653609 ],
       [6.        , 6.        , 6.        , 6.        , 6.        ],
       [5.17527157, 6.        , 5.17527157, 5.17527157, 6.        ],
       [4.70578749, 4.5370149 , 3.71223348, 4.70578749, 5.48882767],
       [6.        , 5.19796883, 6.        , 6.        , 5.19796883],
       [6.        , 5.1967295 , 6.        , 6.        , 5.1967295 ],
       [5.46959589, 4.66732395, 5.46959589, 5.46959589, 4.66732395],
       [4.61576762, 5.44381773, 4.61576762, 3.61653403, 5.44381773],
       [4.62238584, 5.44712684, 3.62887225, 4.62238584, 5.44712684],
       [6.        , 5.19702101, 6.        , 6.        , 5.19702101],
       [6.        , 5.04223395, 6.        , 6.        , 6.        ],
       [6.        , 6.        , 6.        , 6.        , 6.        ],
       [4.69311521, 4.52434261, 4.69311521, 4.69311521, 5.48249152],
       [4.61140212, 5.44163498, 4.61140212, 4.61140212, 5.44163498],
       [5.47093513, 4.67000242, 5.47093513, 5.47093513, 3.67239065],
       [5.17546861, 6.        , 5.17546861, 4.17623502, 6.        ],
       [5.51323998, 3.7993052 , 5.51323998, 5.51323998, 4.75461211],
       [5.47100213, 4.67013642, 5.47100213, 4.47176856, 4.67013642],
       [5.46905969, 4.66625154, 5.46905969, 5.46905969, 4.66625154],
       [4.62143428, 5.44665106, 4.62143428, 4.62143428, 5.44665106],
       [5.46855457, 4.6652413 , 5.46855457, 5.46855457, 4.6652413 ],
       [5.46996868, 4.66806953, 5.46996868, 5.46996868, 4.66806953],
       [6.        , 6.        , 6.        , 6.        , 6.        ],
       [6.        , 4.1979133 , 6.        , 6.        , 5.19729618]])

In [21]:
X_train.ix[423, 'host_name']

/home/paniquex/anaconda3/envs/kaggle/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'Jonathan'

In [28]:
#241.02891795616793

## Воспользуемся LabelEncoder для того, чтобы преобразовать категориальные признаки

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
le = LabelEncoder()
for column in X_train_cat.columns:
    all_classes_in_col = np.hstack([X_train_cat[column].unique(), X_test_cat[column].unique()])
    le.fit(all_classes_in_col)
    X_train_cat.loc[:, column] = le.transform(X_train_cat.loc[:, column])
    X_test_cat.loc[:, column] = le.transform(X_test_cat.loc[:, column])

In [37]:
knn = KNNRegressor(10, metric='overlap', mode='distance', test_block_size=1000)
test_size = X_train_cat.shape[0]
knn.fit(X_train_cat, y_train_cat)

In [38]:
%%time
preds = knn.predict(X_test_cat.iloc[:test_size])

(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(978, 6) (34226, 6)
(977, 6) (34226, 6)
CPU times: user 11.6 s, sys: 2.37 s, total: 13.9 s
Wall time: 14 s

In [39]:
rmse(y_test_cat.iloc[:test_size].values.reshape(-1), preds)
#195.55411220426942
#218.08062593048203
#

217.01271722720145

In [26]:
knn = KNNRegressor(10, metric='flattened_overlap', mode='uniform', test_block_size=10)
knn.fit(X_train_cat, y_train_cat)

In [27]:
%%time
preds = knn.predict(X_test_cat)

TypeError: flattened_overlap() missing 1 required positional argument: 'df'

In [ ]:
rmse(y_test_cat.values.reshape(-1), preds)

In [ ]:
knn = KNNRegressor(10, metric=log_overlaperlap, mode='uniform', test_block_size=10)
knn.fit(X_train_cat, y_train_cat)

In [ ]:
%%time
preds = knn.predict(X_test_cat)

In [ ]:
rmse(y_test_cat.values.reshape(-1), preds)

<b>2.2 (1 балл)</b> Найдите все категориальные признаки в данных. Подсчитайте для каждой из метрик качество на тестовой выборке `X_test` при числе соседей $k = 10$. Качество измеряйте с помощью RMSE.

Какая функция расстояния оказалась лучшей? Почему?

In [ ]:
# Ваш код здесь

<b>2.3 (1 балл) бонус</b> Подберите лучшее (на тестовой выборке) число соседей $k$ для каждой из функций расстояния. Какого удалось достичь уровня качества?

In [ ]:
# Ваш код здесь

<b>2.4 (2.5 балла)</b> Отойдем ненадолго от задачи регрессии и перейдём к задаче классификации: будем определять, являеться ли квартира дорогой $(target = 1)$ или дешевой $(target = 0)$. Будем считать дорогими квариры, цена которых выше среднего.

In [149]:
data['target'] = (data.price > data.price.mean()).astype(int)

Реализуйте счетчики, которые заменят категориальные признаки на вещественные.

А именно, для каждого категориального признака $f_j(x)$ необходимо сделать следующее:
1. Число `counts` объектов в обучающей выборке с таким же значением признака.
\begin{align}
counts_j(c) = \sum_{i=1}^l [f_j(x_i) = c]
\end{align}
2. Число `successes` объектов первого класса ($y = 1$) в обучающей выборке с таким же значением признака.
\begin{align}
successes_j(c) = \sum_{i=1}^l[f_j(x_i) = c][y_i = +1].
\end{align}
3. Сглаженное отношение двух предыдущих величин:
\begin{align}
p_j(c) = \frac{successes_j(c) + a}{counts_j(c) + b},
\end{align}

где $a$ и $b$ - априорные счетчики (например, a = 1, b = 2).

In [143]:
def counters(x):
    """
    params:
        x: value on categorical feature for N objects
    returns: vector of length N
    """

    pass
  
def counts(x):
    """
    x - one categorical column with type - pandas series
    """
    
    x = x.to_numpy()
    return np.sum(x[:, None] == x, axis=1)


def successes(x, y):
    """
    x - one categorical column with type - pandas series
    y - target feature from df
    """
    
    x = x.to_numpy()
    y = y.to_numpy()
    result = np.sum((x[:, None] == x) * (y == 1), axis=1)
    return result
    

def flattened_c_s(x, y, a=1, b=2):
    """
    x - one categorical column with type - pandas series
    y - target feature from dataframe
    a - priori counter
    b - priori counter
    """
    
    return (successes(x, y) + a) / (counts(x) + b)

In [145]:
%%time
cnts = counts(X_train_cat.iloc[:, 1])

CPU times: user 17 s, sys: 428 ms, total: 17.5 s
Wall time: 17.4 s

In [154]:
cnts[:50]

array([ 65,  25,   7, 108,   1,   1,  79,   9,   3,   3,   4,  20, 230,
        27,   4,  28,  37,  21,  14,  53,  10,  89,   2, 104,  80,   6,
        37,   1,   2,  45, 114,  14,   1,   1,  27,  70,  18,   1,  30,
        22,   2,   1,   3,   6,   6, 103,  49,  41,   9, 278])

In [153]:
X_train_cat.loc[]

,name,host_name,neighbourhood_group,neighbourhood,room_type,last_review
39319,Large bedroom,Sara,Brooklyn,Kensington,Private room,2019-07-07
22796,Sun Drenched Gramercy/East Village!,Chelsea,Manhattan,Gramercy,Entire home/apt,2017-12-18
26190,Gorgeous single room in Sunnyside near Manhattan,Lidia,Queens,Sunnyside,Private room,2019-07-01
8161,Cozy UES Studio,Jennifer,Manhattan,Upper East Side,Entire home/apt,-1
32473,Modern & Cozy Studio In Best East Village Loca...,Kea,Manhattan,East Village,Entire home/apt,2019-07-06
...,...,...,...,...,...,...
41432,Sonder | Stock Exchange | Lovely 1BR + Lounge,Sonder (NYC),Manhattan,Financial District,Entire home/apt,2019-06-21
8690,"New Building, Best Location in NYC",Megan,Manhattan,Chelsea,Private room,2019-05-11
144,FLAT MACDONOUGH GARDEN,Khem,Brooklyn,Bedford-Stuyvesant,Entire home/apt,2019-06-20
10987,Affordable Artistic Apartment,Nikolina,Brooklyn,Sunset Park,Entire home/apt,2019-06-16
12716,Bedford Palace,Lauryn,Brooklyn,Crown Heights,Private room,-1

In [180]:
%%time
scss = successes(data['room_type'][:10], data['target'][:10])

CPU times: user 474 µs, sys: 0 ns, total: 474 µs
Wall time: 479 µs

In [181]:
scss

array([0, 2, 0, 2, 2, 2, 0, 0, 0, 2])

In [186]:
%%time
flattened_c_s(data['neighbourhood_group'][:10], data['target'][:10])

CPU times: user 1.89 ms, sys: 0 ns, total: 1.89 ms
Wall time: 1.82 ms

array([0.2       , 0.33333333, 0.33333333, 0.2       , 0.33333333,
       0.33333333, 0.2       , 0.33333333, 0.33333333, 0.33333333])

Поскольку признаки, содержащие информацию о целевой переменной, могут привести к переобучению, может оказаться полезным сделать *фолдинг*: разбить обучающую выборку на $n$ частей, и для $i$-й части считать `counts` и `successes` по всем остальным частям. Для тестовой выборки используются счетчики, посчитанный по всей обучающей выборке. Реализуйте и такой вариант. Достаточно взять $n = 3$.

## Реализуем kfold:

In [176]:
def kfold(n, n_folds=3):
    """
    params:
        * n - objects amount in sample
        * n_folds - folds amount
    return values:
        * list with size n_folds, where every element is tuple of two 1D numpy array:
            * first array contains indices of train samples
            * second array contains indices of validation samples
    """

    indices = np.arange(n)
#     np.random.shuffle(indices)
    size_of_one_fold = int(n / n_folds) + (n < n_folds)
    size_with_folds = size_of_one_fold * n_folds
    out_elements_amount = len(indices) - size_with_folds
    train_test_idx_list = []
    for i in range(n_folds):
        test_idx = indices[i * size_of_one_fold:(i + 1) * size_of_one_fold]
        if out_elements_amount > 0:
            test_idx = np.append(test_idx, n - out_elements_amount)
            out_elements_amount -= 1
        train_idx = np.array(list((set(indices) - set(test_idx))))
        train_test_idx_list.append((train_idx, test_idx))
    return train_test_idx_list

In [179]:
def successes_with_folds(x, y, n_folds=3):
    """
    x - one categorical column with type - pandas series
    y - target feature from df
    n_folds - amount of folds
    """
    
    result = np.arange(x.shape[0])
    for help_indx, main_indx in kfold(x.shape[0], n_folds):
        unique_elems = np.unique(x[help_indx])
        successes_per_fold = {x : [] for x in unique_elems}
        for unique_elem in unique_elems:
            successes_per_fold[unique_elem] = np.sum((x[help_indx] == unique_elem) * (y == 1))
#             print(x[main_indx] == unique_elem)
            result[main_indx & (x[main_indx] == unique_elem)] = successes_per_fold[unique_elem]
#         print(successes_per_fold)
#         help_successes = successes(x[help_indx], y[help_indx])
#         print(help_successes)
    return result

In [178]:
successes_with_folds(data.loc[:6, 'neighbourhood_group'], data.loc[:6, 'target'])

array([1, 1, 2, 3, 4, 5, 6])

Посчитайте на тесте AUC-ROC метода $k$ ближайших соседей с евклидовой метрикой для выборки, где категориальные признаки заменены на счетчики. Сравните по AUC-ROC два варианта формирования выборки — с фолдингом и без. Не забудьте подобрать наилучшее число соседей $k$.

In [ ]:
# Ваш код здесь

<b>2.5 (1 балл)</b> Вернемся к задаче регрессии. Утверждается, что для задачи регрессии можно также сделать преобразование категориальных признаков в действительные числа. Для этого достаточно для каждого значения признака $f_j$ вычислить:
\begin{align}
p_j(c) = g(T_i | f_j(x_i) = c),
\end{align}

где $T_i$ - значения целевой переменной объекта $x_i$. Функция $g$ - среднее (mean) или среднеквадратичное отклонение (std).

Закодируйте категориальные признаки обоими способами и найдите значение RMSE. Используйте евклидову метрику для поиска ближайших соседей. Для какой функции $g$ значение RMSE лучше? Почему?

In [ ]:
# Ваш код здесь

## Часть 3: Текстовые признаки

<b>3.1 (2 балла)</b> Перейдем от категориальным признаков к текстовым. Рассмотрим 2 способа преобразования текста в действительные числа:
- Мешок слов (Bag of Words)
- TF-IDF

[Здесь](https://scikit-learn.org/stable/modules/feature_extraction.html) вы можете прочитать про их применение в Питоне.

Сравните оба способа на задаче регресси. Какую лучше метрику использовать: евклидову или косинусную меру? Постройте графики зависимости качества решения задачи от способа преобразования, метрики и количества соседей. Мера качества - RMSE.

Объясните полученные результаты.

Перед преобразованием не забудьте уменьшить размер словаря. Например, это можно сделать за счет приведения всех слов к одному регистру и удаления [стопслов](https://en.wikipedia.org/wiki/Stop_words) (артиклей, предлогов, союзов).

In [ ]:
# Ваш код здесь

<b>3.2 (1 балл)</b> Используя все доступные признаки, решите задачу регрессии. Для категориальных и текстовых признаков выберите лучшие преобразования. Повлияло ли добавление количественного признака на метрику качества?

In [ ]:
# Ваш код здесь

## Часть 4: Выводы

In [ ]:
# Ваши выводы здесь (ノ°∀°)ノ⌒･*:.｡. .｡.:*･゜ﾟ･*☆